name: Tag

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
      - '!v[0-9]+.[0-9]+.[0-9]+[ab][0-9]+'

env:
    USER: mpiper
    REPO: hello-docker

jobs:

  tag-from-action:
    runs-on: ubuntu-latest

    steps:

      - name: Get tag
        id: tag
        uses: dawidd6/action-get-tag@v1
        with:
          strip_v: true

      - name: Use tag
        run: echo ${{steps.tag.outputs.tag}}

  tag-from-ref-1:
    runs-on: ubuntu-latest

    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Test
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}

  tag-from-ref-2:
    runs-on: ubuntu-latest

    steps:
      - name: Get tag
        id: vars
        run: echo "tag=${GITHUB_REF:11}" >> $GITHUB_OUTPUT

      - name: Check tag
        run: |
          echo ${{ steps.vars.outputs.tag }}

  tag-from-env:
    runs-on: ubuntu-latest

    env:
      VERSION: ${GITHUB_REF:11}

    steps:
      - name: Check tag
        run: |
          echo $USER
          echo $REPO
          echo $VERSION
          echo ${GITHUB_REF:11}

  tag-from-github-context:
    runs-on: ubuntu-latest

    steps:
      - name: Check tag
        if: ${{ github.ref_type }} == 'tag'
        run: |
          echo ${{ github.repository }}
          echo ${{ github.ref_name }}
